@use "../variables/colores" as *;
@use "../variables/mezclas" as *;
@use "../variables/colores" as c;


.btn{ @extend %boton-base; }
.btn-marca-contorno {
  border: 2px solid c.tono("marca");
  color: c.tono("marca");
  background: transparent;
  transition: background-color .2s ease, color .2s ease, border-color .2s ease;

  &:hover,
  &:focus {
    background: c.tono("marca");
    color: c.tono("blanco");
    border-color: c.tono("marca-oscuro");
  }
}

.btn-marca {
  background: c.tono("marca");
  color: c.tono("blanco");
  border: 2px solid c.tono("marca");
  transition: background-color .2s ease, border-color .2s ease;

  &:hover,
  &:focus {
    background: c.tono("marca-oscuro");
    border-color: c.tono("marca-oscuro");
  }
}
